<div class="question-block" id="<%=@question.id %>">
	<div class="input-prepend input-append">
		<span class='add-on'><i class='icon-resize-vertical'></i></span>
		     
		     <%= fields_for 'questions[]', @question do |qf| %>
		         <%= qf.text_field :text, :class => 'input-q' %>
		     <% end %> 
       <%= link_to 'X', @question, method: :delete, class:'btn delete-q', remote: true  %>         
	</div>
	<div class="answer-block" id=>
	<%= link_to 'Добавить ответ',new_answer_path(:test_id => @test_id,:question_id => @question.id), class:'btn btn-small',id: 'add-a', remote: true %>
	</div>
</div>