<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field1">
    <%= f.label 'Пол' %><br>
    <%= f.text_field :sex %>
  </div>
  <div class="field1">
    <%= f.label 'Возраст' %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field1">
    <%= f.label 'Специальность' %><br>
    <%= f.text_area :profession %>
  </div>
  <div class="field1">
    <%= f.label 'Должность' %><br>
    <%= f.text_area :workFunction %>
  </div>
  <div class="field1">
    <%= f.label 'Стаж' %><br>
    <%= f.number_field :workAge %>
  </div>
  <div class="actions">
    <%= f.submit("Перейти к вопросам ->>") %>
  </div>
<% end %>
