<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Пол</th>
      <th>Возраст</th>
      <th>Профессия</th>
      <th>Должность</th>
      <th>Стаж работы</th>
      <% @scales.each() do |sc|  %>          
          <th><%= sc.name %></td>      
      <% end %>          
   </tr>
  </thead>

  <tbody>
    <% i=0 %>    
    <% while (i < @results.length)%>    
    <tr>
      <% result  = @results[i] %>
      
      <% user  = User.find(result.user_id) %>
      <% user_id = result.user_id%>
      <td><%= user.sex %></td>
      <td><%= user.age %></td>      
      <td><%= user.profession %></td>
      <td><%= user.workFunction %></td>      
      <td><%= user.workAge%></td>

      <% @scales.each() do |sc|  %>          
          <% res = @results.where(user_id: user_id, scale_id: sc.id).first %>
          <td><%= res != nil ? res.result : "" %></td>
      <% end %>          
      <!--  <% while ( i < @results.length && user_id == result.user_id ) %>
        <% scale = Scale.find(result.scale_id) %>        
        <td><%= result.result %></td>      
        <% user_id = result.user_id%>        
        <% i=i+1 %>
        <% result  = @results[i] %>              
      <% end %>   -->


      <% break if i >= @results.length%>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Сохранить данные', new_user_path,id: 'link_for_user'  %>




